:root {
  --white: #ffffff;
  --button: #387cf6;
  --header-text: #1e2023;
  --gradient-top: #f9fafb;
  --text-color: #818e9b;

  --size-10: 0.625rem;
  --size-14: 0.875rem;
  --size-16: 1rem;
  --size-18: 1.125rem;
  --size-20: 1.25rem;
  --size-30: 1.875rem;
  --size-40: 2.5rem;
  --size-50: 3.125rem;
  --size-100: 6.25rem;
  --size-150: 9.375rem;
}

*,
::after,
::before {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-family: "Open Sans", sans-serif;
}

.container {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
}

.container-lg {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

container-form {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}


.container-md{
  width: 100%;
  max-width: 950px;
  margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--header-text);
}

p {
  color: var(--text-color);
}

@media (min-width: 768px) {
  .pricing-table,
  .testimonial-grid {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  footer .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
