html,
body {
  margin: 0;
  padding: 0;
  border: 0;
}

.top-nav {
  display: flex;
  justify-content: space-between;
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: var(--text-color);
  padding-top: 10px;
}

.nav-left i {
  margin-right: 5px;
  align-self: center;
}

.nav-left-1 {
  display: flex;
}

.nav-right-1 {
  margin-right: 20px;
}

.nav-right i {
  margin-left: 5px;
}

.bottom-nav {
  display: flex;
  justify-content: space-between;
}

.bottom-nav-right {
  display: flex;
  align-self: center;
  color: var(--text-color);
  justify-content: space-evenly;
}

.bottom-nav-right a {
  text-decoration: none;
  color: var(--text-color);
  margin-right: 30px;
  align-self: center;
}

.button-div {
  display: flex;
}

.btn-main {
  background-color: var(--button);
  color: var(--white);
  outline: none;
  border: 1px solid transparent;
  border-radius: 30px;
  padding: 12px 18px;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.2px;
  cursor: pointer;
}

.gradient-div {
  background: linear-gradient(0.48turn, #f7f9fb 50%, 50%, #fff 50%);
  height: 1100px;
}

.split-container {
  display: flex;
  max-height: 435px;
  flex-wrap: wrap;
}

.container-1 {
  max-width: 500px;
  font-size: var(--size-40);
  display: flex;
  flex-direction: column;
}

.container-1 h1 {
  color: var(--header-text);
  font-weight: 600;
  margin-top: var(--size-100);
  margin-bottom: 10px;
  letter-spacing: 0.5px;
}

.container-1 p {
  color: var(--text-color);
  font-size: var(--size-20);
  margin-top: 0;
}

.two-btn-div {
  margin-top: var(--size-20);
}

.video-btn {
  background-color: var(--button);
  color: var(--white);
  outline: none;
  border: 1px solid transparent;
  border-radius: 30px;
  padding: 16px 22px;
  font-weight: 500;
  font-size: var(--size-16);
  letter-spacing: 0.4px;
  cursor: pointer;
}

.video-btn i {
  padding-right: 10px;
  font-size: var(--size-16);
}

.lm-btn {
  background-color: transparent;
  color: var(--button);
  outline: none;
  border: 1px solid transparent;
  border-radius: 30px;
  padding: 12px 18px;
  font-weight: 500;
  font-size: var(--size-16);
  letter-spacing: 0.2px;
  cursor: pointer;
  padding-right: 10px;
}

.learn-more-btn i {
  color: var(--button);
}

.logos {
  height: 80px;
  width: 80px;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 5px 10px rgb(48 63 100 / 10%);
 /* animation: topToBottom ease-in 2s; */
}

 /* @keyframes topToBottom {
  from {bottom: -30px}
  to {top: 0;}
} */


.google-logo {
  position: relative;
  left: 215px;
  top: 75px;
}

.paypal-logo {
  position: relative;
  height: 100px;
  width: 100px;
  left: 220px;
  top: 200px;
}

.atlassian-logo {
  position: relative;
  height: 100px;
  width: 100px;
  left: 370px;
  top: -50px;
}

.google-ads-logo {
  position: relative;
  height: 80px;
  width: 80px;
  left: 325px;
  top: 130px;
}

.weave-logo {
  position: relative;
  height: 100px;
  width: 100px;
  left: 480px;
  top: -70px;
}

.asana-logo {
  position: relative;
  height: 100px;
  width: 100px;
  left: 595px;
  top: -375px;
}

.calendar-logo {
  position: relative;
  height: 100px;
  width: 100px;
  left: 595px;
  top: -110px;
}

.key-benefits {
  margin: 0 auto;
  text-align: center;
  margin-top: 300px;
}

.key-benefits h1 {
  font-size: var(--size-40);
  color: var(--header-text);
  margin-bottom: 5px;
  letter-spacing: 1px;
}

.key-benefits p {
  color: var(--text-color);
  font-size: var(--size-18);
}

.four-card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: var(--size-20);
}

.card {
  box-shadow: 0 0 10px rgba(48, 63, 100, 0.15);
  background: white;
  border-radius: 8px;
  padding: 15px 25px; 
  transition: all .2s ease-in-out;
}

.card:hover {
transform: scale(1.1);
}

.card h4, p {
  margin: 10px 0;
  font-size: var(--size-14);
}

.card .lm-btn {
  padding-left: 0;
}

.card-content span i {
  color: var(--button);
}

.flex-header {
  display: flex;
}

.btn-sketch {
  background-color: #5acaa7;
  color: var(--white);
  outline: none;
  border: 1px solid transparent;
  border-radius: 30px;
  padding: -20px 20px;
  margin-left: 10px;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 0.2px;
  cursor: pointer;
}